.author{
    display: none;
}

.title{
    display: none;
}

.year{
    display: none;
}

.month{
    display: none;
}

.day{
    display: none;
}

.year_access{
    display: none;
}

.month_access{
    display: none;
}

.day_access{
    display: none;
}

.pages{
    display: none;
}

.publisher{
    display: none;
}

.name_journal{
    display: none;
}

.name_magazine{
    display: none;
}

.url{
    display: none;
}
